<!DOCTYPE html>
<html>
<head>
  <title>JoelPortfolioRails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><h3>Joel Scalera</h3></a>
  <%= link_to image_tag("linkedin2.png"), "https://www.linkedin.com/in/joel-scalera-18bbb6a2/", :target => "_blank" %>
  <%= link_to image_tag("github.png"), "https://github.com/Joelio7", :target => "_blank" %>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/about">About  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/contact">Contact</a>
      </li>
    </ul>
  </div>
  </nav>

<%= yield %>

</body>
</html>
